h1 {
  text-align: center;
}

#grid {
  font-size: 0;
  width: 1000px;
  box-sizing: content-box;
  border: 2px solid black;
  margin: 0 auto;
}

.cell {
  display: inline-block;
  box-sizing: border-box;
  width: 10px;
  height: 10px;
  margin: 0;
  background-color: black;
}

.alive {
  background-color: green;
}

button {
  font-size: 2rem;
  width: 100px;
}

#button-container {
  width: 220px;
  margin: 0 auto 20px auto;
}

#start-stop {
  color: green;
  margin-right: 5px;
}

#reset {
  color: red;
  margin-left: 5px;
}
