h1 {
  text-align: center;
}

p {
  font-size: 16px;
}

#grid {
  font-size: 0;
  width: 1200px;
  box-sizing: content-box;
  border: 2px solid black;
  margin: 0 auto;
  cursor: pointer;
}

.cell {
  display: inline-block;
  box-sizing: border-box;
  border: 1px solid black;
  width: 15px;
  height: 15px;
  margin: 0;
}

button {
  font-size: 2rem;
  width: 100px;
}

#button-container {
  width: 220px;
  margin: 0 auto 20px auto;
}

#start-stop {
  color: green;
  margin-right: 5px;
}

#reset {
  color: red;
  margin-left: 5px;
}

#color-selector {
  text-align: center;
  margin-bottom: 10px;
}

#color-selector .selected {
  border: 3px solid orange;
  border-radius: 3px;
  box-sizing: border-box;
}

.colorPicker {
  display: inline-block;
  width: 30px;
  height: 30px;
}

#highlighted {
  border: 2px solid yellow;
}
