body {
  background-color: #acacac;
  display: flex;

}

#app {
  display: flex;
  margin: 0 auto;
}

h1, h2, h3 {
  text-align: center;
  margin: 10px 0;
}

p {
  font-size: 16px;
  margin-top: 2px;
}

h3 {
  margin-bottom: 5px;
}

#grid {
  font-size: 0;
  width: 1200px;
  box-sizing: content-box;
  border: 2px solid black;
  border-radius: 7px;
  margin: 0 auto;
  cursor: pointer;
}

.cell {
  display: inline-block;
  box-sizing: border-box;
  border: 1px solid black;
  width: 15px;
  height: 15px;
  margin: 0;
}

.bigButton {
  font-size: 2rem;
  width: 100px;
}

#button-container {
  width: 220px;
  margin: 20px auto 10px auto;
}

#start-stop {
  color: green;
  margin-right: 5px;
}

#reset {
  color: red;
  margin-left: 5px;
}

#color-selector {
  text-align: center;
  margin-bottom: 10px;
}

#color-selector .selected {
  box-sizing: border-box;
  border: 3px solid orange;
}

.colorPicker {
  display: inline-block;
  width: 30px;
  height: 30px;
}

#settings {
  margin: 150px 20px 0 0;
}

#directions {
  margin-left: 50px;
}

#periodSlider {
  margin-left: 10px;
}

input[type="number"] {
  width: 25px;
}

#rules {
  width: 200px;
  text-align: center;
}
